.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    &__links {
        display: flex;
        color: aqua;
        &_text {
            padding-right: 20px;
        }
    }
}