.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    &__nav{
        display: flex;

        &_link {
            padding-right: 40px;
        }
    }
}

.info {
    padding-top: 200px;
    padding-bottom: 100px;
}

.questions {
    padding-bottom: 500px;

    &__block {
    padding-bottom: 50px;
    }
}