* {
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.contacts {
    width: 20%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #ccc;
}

.info {
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 50px;
}

.menu {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;

    &_link {
         padding-right: 40px;
    }
}

.questions {
    padding-bottom: 500px;

    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__block {
            display: grid;
    grid-template-columns: repeat(2, 50%);
            
    &_item {
        padding-bottom: 50px;
        background-color: #ACACAC14;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
        }
    }
}